<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="<%= htmlWebpackPlugin.options.baseUrl %>" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1, user-scalable=no">
  <!-- <link href="styles.css" rel="stylesheet" /> -->
  <title>Speak In Color</title>
</head>
<body>
  <div id="root"></div>
  <script src="bundle.js"></script>
</body>
</html>
